{% for footer-i in (1...2) %}
<div id="footerwrap" class="tuna-foot-{{ footer-i }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <p>本站由四川大学信息管理中心及开源硬件协会支持创办，由四川大学明远小组运行维护。</p>
        <p>四川大学明远开发小组，是由四川大学热爱网络技术和开源软件的极客组成的学生技术社团。</p>
        <p>本站相关源码可在 <a href="https://github.com/SCU-MingYuan/tunasync"><em>这里(镜像管理器)</em></a> 和 <a href="https://github.com/SCU-MingYuan/mirror-web"><em>这里(镜像站网页)</em></a> 获取。</p>
        <p>根据相关法律法规，本站不对欧盟用户提供服务。</p>
      </div>

      <div class="col-lg-4 col-md-4">
        <h4>Contact Us</h4>
        <div>
          <ul class="social">
            <li>
            <a href="https://github.com/SCU-MingYuan/"><i class="fa fa-github"></i> GitHub </a>
            </li>
          </ul>
        </div>
      </div>


    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->
{% endfor %}

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
