<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/logo-small.png" alt=""/>  四川大学开源软件镜像站</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="https://scumaker.com/">HOME</a></li>
        <li><a href="https://scumaker.com/events/">EVENTS</a></li>
        <li><a href="https://bbs.scumaker.com/">BLOG</a></li>
        <li><a href="https://scumaker.com/feed.xml">RSS</a></li>
	<li><a href="https://podcast.scumaker.com/">PODCAST</a></li>
        <li class="active"><a href="http://mirrors.scu.edu.cn/">MIRRORS</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
